.profile {
  display: flex;
  flex-grow: 1;
  padding: 30px;
}

.profile-img {
  margin-right: 62px;
}

.profile-name {
  color: #000;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

.profile-contact {
  font-size: 14px;
  color: #333;
  margin-bottom: 20px;

  p {
    font-weight: 600;
  }

  p:not(:last-child) {
    margin-bottom: 10px;
  }

  span {
    font-weight: 400;
    color: #76787D;
  }
}

.profile-about-me {
  span {
    color: #333;
    font-size: 16px;
    font-weight: 600;
  }
  
  p {
    margin-top: 25px;
    color: #76787D;
    font-size: 14px;
  }
}