.profile {
  flex-grow: 1;
  padding: 30px;
}

.profile-instruction {
  color: $clr-primary-1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.profile-main {
  display: flex;
}

.profile-img {
  margin-right: 62px;
}

.profile-name {
  color: #000;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

.profile-contact {
  color: $clr-primary-2;
  font-size: 14px;
  margin-bottom: 20px;

  p {
    font-weight: 600;
  }

  p:not(:last-child) {
    margin-bottom: 10px;
  }

  span {
    color: $clr-primary-1;
    font-weight: 400;
  }
}

.profile-about-me {
  span {
    color: $clr-primary-2;
    font-size: 16px;
    font-weight: 600;
  }
  
  p {
    color: $clr-primary-1;
    margin-top: 25px;
    font-size: 14px;
  }
}
