.sidebar {
  width: 330px;
  border-right: 1px solid #dee1ea;
  padding: 30px 20px;

  h2, .result-header {
    color: $clr-primary-2;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 22px;
  }

  input {
    border-radius: 8px;
    border: 1.5px solid #E9ECEF;
    background: #FFF;
    padding: 16px;
    min-width: 260px;
    margin-bottom: 22px;
    outline: none;
  }

  .result-header {
    padding-bottom: 18px;
  }

  .result p {
    color: $clr-primary-1;
    font-size: 14px;
  }
}
