@import './index.scss';

.app {
  padding: 50px;
}

.main {
  display: flex;
  border-radius: 10px;
  background: #fdfdfd;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.10);
  width: 100%;
  min-height: 70vh;
}
